


</head>
 <link rel="stylesheet" type="text/css" href="/css/style.css">
 <link href="https://fonts.googleapis.com/css?family=Meddon" rel="stylesheet">

 <link href="https://fonts.googleapis.com/css?family=Great+Vibes" rel="stylesheet">


<body>
	<h1>Find a Movie or TV Show to watch:</h1>

	<form action="/results" method="get">
	    <input type="text" name="search" placeholder="search term">
	    <input type="submit">
	</form>
</body>
</html>